<div class="chat-section">
    <div class="opts d-md-none">
        <a data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">recents</a>
    </div>
    <div class="chat-body">
        <h5 class="p-3">Chat</h5>
        <div class="head shadow-sm">
            <img src="20220304_194806-01.jpeg" alt="" class="mx-2">
            <span>Usrename</span>
        </div>
        <div class="chats mb-3">
            <div class="msg mb-3 p-2">
                <p>Lorem ipsum dolor sit.</p>
            </div>
            <div class="sndmsg mb-3 p-2">
                <p>Lorem ipsum dolor sit amet consectetur.</p>
            </div>

            <div class="sndmsg p-2">
                <p>Lorem ipsum dolor sit amet consectetur.</p>
            </div>
        </div>

    </div>
</div>