        
            <div class="settings mb-3 d-flex align-items-center justify-content-between">
                <a href=""><h4 [routerLink]="'/'">LOGO</h4></a>
                <div class="d-flex align-items-center">
                <i class="fa-regular fa-heart fa-lg mx-2"></i>
                <i class="fa-regular fa-star fa-lg mx-2"></i>
                <i class="fa-regular fa-user fa-lg mx-2" [routerLink]="'/profile'"></i>
                </div>
            </div>
            <div class="recent mb-3 d-none d-md-block">
                <h5>Recent Chats</h5>
                <div class="user-card">
                    <img src="assets/default_user.jpg" alt="img">
                    <p>Username</p>
                </div>

                <div class="user-card">
                    <img src="assets/default_user.jpg" alt="img">
                    <p>Username</p>
                </div>

                <div class="user-card">
                    <img src="assets/default_user.jpg" alt="img">
                    <p>Username</p>
                </div>

                <div class="user-card">
                    <img src="assets/default_user.jpg" alt="img">
                    <p>Username</p>
                </div>

                <div class="user-card">
                    <img src="assets/default_user.jpg" alt="img">
                    <p>Username</p>
                </div>

                <div class="user-card">
                    <img src="assets/default_user.jpg" alt="img">
                    <p>Username</p>
                </div>

                <div class="user-card">
                    <img src="assets/default_user.jpg" alt="img">
                    <p>Username</p>
                </div>
            </div>

            <div class="connects d-none d-md-block">
                <h5>Connects</h5>
                <div class="user-card">
                    <img src="assets/default_user.jpg" alt="img">
                    <p>Username</p>
                </div>

                <div class="user-card">
                    <img src="assets/default_user.jpg" alt="img">
                    <p>Username</p>
                </div>

                <div class="user-card">
                    <img src="assets/default_user.jpg" alt="img">
                    <p>Username</p>
                </div>

                <div class="user-card">
                    <img src="assets/default_user.jpg" alt="img">
                    <p>Username</p>
                </div>

                <div class="user-card">
                    <img src="assets/default_user.jpg" alt="img">
                    <p>Username</p>
                </div>

                <div class="user-card">
                    <img src="assets/default_user.jpg" alt="img">
                    <p>Username</p>
                </div>

                <div class="user-card">
                    <img src="assets/default_user.jpg" alt="img">
                    <p>Username</p>
                </div>
            </div>



<!-- sidebar -->

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      
    </div>
  </div>